.button {
  padding: 20px 24px;
  background-color: var(--brand-color-light);
  border-radius: 16px;
  border: 0;
  font-size: 20px;
  transition: all 0.4s ease-in-out;

  @media screen and (min-width: $bp-tablet) {
    padding: 25px 32px;
  }

  &::after {
    content: url("data:image/svg+xml,%3Csvg  version='1.1' fill='white' xmlns='http://www.w3.org/2000/svg' width='18' height='28' viewBox='0 0 38 22'%3E%3Cpath  d='M17.384 2.584c-0.442 0.149-0.813 0.412-1.088 0.755l-0.004 0.005c-0.408 0.556-0.392 0.336-0.392 6.16v5.252l-14.312 0.032-0.336 0.16c-0.441 0.215-0.789 0.563-0.998 0.991l-0.006 0.013c-0.106 0.24-0.168 0.52-0.168 0.814s0.062 0.574 0.173 0.827l-0.005-0.013c0.203 0.401 0.506 0.726 0.878 0.95l0.010 0.006c0.472 0.24 0.632 0.244 7.804 0.244h6.956l0.016 5.356 0.016 5.352 0.16 0.34c0.214 0.44 0.563 0.787 0.991 0.994l0.013 0.006c0.484 0.224 1.16 0.228 1.628 0.004 0.256-0.12 1.896-1.568 7.26-6.404 3.812-3.44 7.016-6.372 7.124-6.524 0.23-0.319 0.368-0.718 0.368-1.149 0-0.166-0.020-0.326-0.059-0.48l0.003 0.014c-0.176-0.644 0.004-0.468-7.248-7.012-3.804-3.436-7.032-6.32-7.164-6.412-0.32-0.211-0.713-0.337-1.135-0.337-0.172 0-0.339 0.021-0.499 0.060l0.014-0.003zM23.208 11.988c1.656 1.496 3.012 2.732 3.012 2.748 0 0.012-1.416 0.024-3.148 0.024h-3.152v-5.708l0.136 0.108c0.076 0.060 1.496 1.332 3.152 2.828zM26.068 18.952c-0.096 0.096-1.448 1.312-2.996 2.708l-2.988 2.688-0.164 0.156v-5.724h6.328l-0.18 0.172z'%3E%3C/path%3E%0A%5C %3C/svg%3E");
    /* content: url("data:image/svg+xml,%3Csvg version='1.1' display='flex' align-items='center' class='my-icon' fill='currentColor' xmlns='http://www.w3.org/2000/svg' width='30px' viewBox='15 3 20 20'%3E%3Cpath class='my-icon' stroke-linejoin='round' stroke-linecap='round' stroke-miterlimit='4' stroke-width='2.4615' d='M17.384 2.584c-0.442 0.149-0.813 0.412-1.088 0.755l-0.004 0.005c-0.408 0.556-0.392 0.336-0.392 6.16v5.252l-14.312 0.032-0.336 0.16c-0.441 0.215-0.789 0.563-0.998 0.991l-0.006 0.013c-0.106 0.24-0.168 0.52-0.168 0.814s0.062 0.574 0.173 0.827l-0.005-0.013c0.203 0.401 0.506 0.726 0.878 0.95l0.010 0.006c0.472 0.24 0.632 0.244 7.804 0.244h6.956l0.016 5.356 0.016 5.352 0.16 0.34c0.214 0.44 0.563 0.787 0.991 0.994l0.013 0.006c0.484 0.224 1.16 0.228 1.628 0.004 0.256-0.12 1.896-1.568 7.26-6.404 3.812-3.44 7.016-6.372 7.124-6.524 0.23-0.319 0.368-0.718 0.368-1.149 0-0.166-0.020-0.326-0.059-0.48l0.003 0.014c-0.176-0.644 0.004-0.468-7.248-7.012-3.804-3.436-7.032-6.32-7.164-6.412-0.32-0.211-0.713-0.337-1.135-0.337-0.172 0-0.339 0.021-0.499 0.060l0.014-0.003zM23.208 11.988c1.656 1.496 3.012 2.732 3.012 2.748 0 0.012-1.416 0.024-3.148 0.024h-3.152v-5.708l0.136 0.108c0.076 0.060 1.496 1.332 3.152 2.828zM26.068 18.952c-0.096 0.096-1.448 1.312-2.996 2.708l-2.988 2.688-0.164 0.156v-5.724h6.328l-0.18 0.172z'%3E%3C/path%3E%0A%5C %3C/svg%3E");
*/
    display: inline-block;
    margin-left: 14px;
    text-align: center;
    vertical-align: middle;
    /*transform: scale(50%);*/
    background-color: var(--button-color-dark);
    border-radius: 50%;
    width: 38px;
    /*height: 38px;*/
    /*padding: 20px;*/
    transition: all 0.4s ease-in-out;

    @media screen and (min-width: $bp-tablet) {
      margin-left: 24px;
    }
  }

  &:hover,
  &--white:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color-white);
    cursor: pointer;
  }

  &--white {
    background-color: transparent;
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
  }

  &--blue {
    background-color: var(--secondary-color);
    color: var(--primary-color-white);

    &:hover {
      background-color: var(--brand-color-light);
      color: var(--secondary-color);
      cursor: pointer;
    }
  }

  /*
.button svg {
  background-color: var(--button-color-dark);
  fill: white;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  padding: 10px;
  transition: all 0.4s ease-in-out;
}*/

  /*
.button:hover .icon {
  fill: var(--brand-color-darck);
  background-color: var(--button-color-dark);
}*/
}
