:root {
  --brand-color-light: #efd372;
  --brand-color-darck: #7eb693;
  --primary-color-white: #fff;
  --primary-color: #f9f8f8;
  --primary-color-light: #b8b8b8;
  --secondary-color: #274c5b;
  --secondary-color-light: #d4d4d4;
  --third-color-light: #f1f1f1;
  --foth-color-light: #eff6f1;
  --border-color: #d5d5d5;
  --border-color-dark: #cccccc;
  --button-color-dark: #335b6b;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;
