.customer-section {
  background-image: url(../img/review-section.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;

  &__container {
    padding: 65px 20px 75px;

    @media screen and (min-width: $bp-desktop) {
      padding: 130px 30px 150px;
    }
  }

  &__text-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    border-bottom: 1px solid var(--border-color);
    max-width: 966px;
    padding-bottom: 48px;

    @media screen and (min-width: $bp-desktop) {
      padding-bottom: 96px;
    }
  }

  &__title {
    margin-bottom: 60px;
  }

  &__img {
    /*display: block;*/
    max-width: 115px;
    margin-bottom: 18px;
  }

  &__stars {
    margin-bottom: 30px;
  }

  &__rewiew {
    margin-bottom: 23px;
  }

  &__customer-name {
    font-size: 26px;
  }

  &__customer-profession {
    font-size: 14px;
  }

  &__benefit-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 32px;
    padding-top: 50px;

    @media screen and (min-width: $bp-tablet) {
      grid-template-columns: repeat(2, min-content);
    }

    @media screen and (min-width: $bp-desktop) {
      grid-template-columns: repeat(4, min-content);
      gap: 42px;
      padding-top: 100px;
    }
  }

  &__benefit-card {
    flex-shrink: 0;
    background-color: var(--third-color-light);
    width: 180px;
    height: 180px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 4px var(--primary-color-white),
      -1px -1px 0px 8px var(--brand-color-darck);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-weight: bold;

    @media screen and (min-width: $bp-desktop) {
      width: 250px;
      height: 250px;
    }
  }

  &__benefit-card-description {
    font-family: "Roboto", sans-serif;
    font-size: 42px;
    line-height: 1.3;
  }
}
