.product-section {
  &__container {
    padding: 120px 30px;
  }

  &__title-container {
    text-align: center;
    margin-bottom: 42px;
  }

  &__cards-container {
    display: flex;
    place-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
}
